/*Not really using these. just place holders*/
@sky	:rgba(120,204,255,1);
@sea0 	:#0081db;
@sea1	:#001022;
@pink0	:rgba(255,185,204,1);
@pink1	:#ff0082;

@fg	:#FFFFFF;
@fgColor:#333;
/*Not using these 2*/
@bg0	:#87c8de;
@bg1	:#001022;

@head	:@pink0;
@head1	:darken(@pink1,15%);
@bgHead	:@fg;


@border	:1px dashed fade(@fg, 50%);
@border1:1px dashed fade(@fgColor, 20%);

@graphics_dir:"./images/";
@wrapW	:1125px;
@padT	:0;
@padL	:1em;
@padB	:@padT;
@padR	:@padL;


@fxLayer:2;
@overlayLayer:9999;

@easing	:cubic-bezier(0.51, 0.01, 0.37, 0.98);
/*
	simple Functions with mixins
*/
@import "lib.less";

.engrave(@color, @intensity:60%, @shadow:#000, @depth:1px, @left:1px, @blur:1px){
	color:transparent;
	text-shadow:0 0 0 @color,-@left -@depth @blur fade(@shadow, @intensity);
}
.engrave2(@color, @intensity:50%, @shadow:#000, @depth:1px, @left:1px, @blur:1px){
	color:transparent;
	text-shadow:@left @depth 0 @color,0 0 @blur fade(@shadow, @intensity);
}

.emboss(@color,@intensity:60%, @shadow:#000, @depth:1px, @left:0px, @blur:0px){
	color:transparent;	
	text-shadow:-@left -@depth 0 @color, 0 0 @blur fade(@shadow, @intensity);
}

/*
 
Less Style
 
*/
#wpadminbar{
	margin:0;
	padding:0;
	>div{max-width:100%;}
}
body{
	.pos;	
	.bg(@bg1);
	.bg_img("bg.png");
	.bg_repeat(repeat-x);
	background-size:contain;
	&:after{
		.fill;
		.after(-500);
		.bg_repeat;
		.opacity(0.5);
	}
	>*{
		>div{
			max-width:@wrapW;
			margin:0 auto;
		}
	}
}
.l{	.float;}
.r{	.float(right);}
/* going to use hr as a clear*/
hr{	border:0; line-height:0;height:0;}

a{
	text-decoration:none;
	color:@fgColor;
	&:hover{
		.emboss(@fgColor);
	}
	cursor:pointer;
}

/* Header */
.head{

	color:@bgHead;
	.pad(0 1em);
	line-height:2em;
	border-bottom:@border; 
	border-color:@bgHead;
	.nolist;
	a,label,input{
		font-size:.9em;
		font-weight:800;
	}
	
	li.bookmark-menu-item>a,
	li.current-menu-item>a,
	li:hover label,
	li:hover>a
	{	.engrave(@head);}
	li>a,
	li label{		.emboss(@bgHead);}
	li>.submenu li{
			>a{	color:@head1; text-shadow:none;}
			&.cur>a,
			&:hover>a{
				.emboss(@head1);
			}
	}

	.l>ul>li{margin:0 @padL 0 0;}
	.r>ul>li{margin:0 0 0 @padL;}

	li{
		.float;
		.pos;
		.display;
		white-space:nowrap;
		&.search{
			div{	.display(inline-block); line-height:1;
				>div{	display:none;
					width:120px;
					>p{
						margin:0 0 1px .5em;
						padding:2px 5px;
						background:@bgHead;
						.borderRadius(10px);
						.shadow(0,1px,0,fade(#000,50%));
					}
			}
			}
			input[type="text"]{
				background:transparent;
				width:100%;
				font-size:75%;
				font-weight:normal;
				margin:0;
				padding:0;
				border:0 none;				
				outline:0 none;
			}
			input[type="submit"]{
				display:none;
			}
		}
		&:hover .submenu{.display;}
		.submenu{
			@max:250px;
			.abs(1,100%,@max,auto,50%, 0 0 0 -@max / 2);			
			.display(none);
			line-height:1;
			text-align:center;
			ul{
				.display(inline-block);
				.bg(@bgHead);
				.pad(2px 2px);
				.shadow(0,5px,10px,fade(#000,50%);
				li{
					.pad;
					.float(none);
					&,>a{.display;}
					>a{
						.pad(5px 8px);
						text-align:left;
					}
				}
			}
		}
				
	}
}
.branding{
	>div{
		padding:1em;
		a{	display:block;
			line-height:0;
			&>*{line-height:initial;}
		}
		img{
			width:100%;
			height:auto;
		}
	}
	&,img{
		position:relative;
	}
	img{z-index:-2;}
	&:after{
		.after(-1,100%,100%,absolute,0);
		.bg_repeat;
		.pad(0 0 1em 0);
	}
}
.cols{
	>*{float:left;}
	&._4>*{width:25%;}
	&._3>*{width:33%;}
	&._2>*{width:50%;}
	&._1>*{width:100%;}
	&._auto>*{width:auto;}
	&._0{display:none;}
}
.foot{
	@bgC:transparent;
	@fgC:fade(@fg,50%);
	margin-top:30px;
	border-top:@border;
	font-size:.9em;
	color:@fgC;
	.nolist;
	a{
		color:@fgC;
		text-shadow:none;
		&:hover{
			.emboss(@fg);
		}
	}

	.cols{	
		>li{
			>div{
				padding:10px;
				border-right:@border;
			}
		
			&:last-child{
				>div{
					border-right:0;
				}
			}
		}
		&._0{display:none;}
	}
	.copy{
		text-align:center;
		font-size:.75em;
		padding:10px 0 6px;
		li,div{
			display:inline;	
		}
	}

}
.body{
	position:relative;
	z-index:0;
	>div {
		position:relative;
		z-index:1;
		.shadow(0,2em,4em,rgba(0,0,0,.5));
		border-top:@border1;
		&:first-child{
			border-top:0;
		}
		.bg(@fg);
		>section{ padding:1em;}
	}
	.sidebar{
		margin:1em;
		max-width:25%;
		&.l{float:left; margin-right:1em;}
		&.r{float:right; margin-left:1em;}
	}
	
	.webcomic{
		.nolist;		
		&{ .pad; margin:0;}
		>article{
			.pos;
			.clip;
			overflow:hidden;
			>.cur,
			>.load{
				img {.float;}
				.pos;
				.z(-1);
			}
			>.cur{ img{.dim(100%,auto);}}
			>.load{.fill; img{.dim;}}
			>nav{
				a,a:hover{
					display:block;
					position:absolute;
					top:0;
					bottom:0;
					color:transparent;
					width:100px;
					font-size:0;
				}
				.prev{left:0;}
				.next{right:0;}
			}
		}
	}
	.hentry{
		@bgC:@fg;
		@fgC:@fgColor;
		@fgA:darken(@sea0,0%);
		@faded:fade(@fgC,20%);
		@b:1px dashed fade(@fgC, 20%);
		color:@fgC;
		overflow-x:hidden;
		padding-top:1em;		
		margin-top:1em;
		border-top:@border1;

		&:first-child{
			padding-top:0;
			margin-top:0;
			border-top:0;
		}
		a{
			color:@fgA;
			text-shadow:none;
			&:hover{.emboss(@fgA);}
		}
		h1,footer{
			border:@b;			
			.display(inline-block);		
		}
		h1{
			border-left:0;
		}
		header,footer,.content{
			border-left:@b;
		}
		header{
			h1{	padding:.5em;
				a{.emboss(@fgA);}
			}
		}
		.thumbnail{
			float:left;
			margin:0 1em;
			>*{	max-width:150px;
				padding:2px;
				border:@b;
				.bg(@faded);
			}
		}
		.content{
			padding:1px 1em;
			p{overflow-x:hidden;}
		}
		footer{				
			&,a{
				color:fade(@fgC,50%);
			}
			font-size:75%;
			padding:.1em .5em;
		}
	}
	.inline{
		@p:1em;
		margin:0 @p;
		.img(@w, @i, @rollY){
			&{	@x: -@w * @i;
				.bg_img("buttons.png");
				.bg_pos(@x, 0);
				&.show,
				&:hover{.bg_pos(@x, -@rollY);}
			}
		}
		.icons(@w,@h,@suffix:~""){
			&.start>a{.img(@w,0,@h);}
			&.prev>a{.img(@w,1,@h);}
			&.bookmark>a{.img(@w,2,@h);}
			&.info{.img(@w,3,@h);}
			&.next>a{.img(@w,4,@h);}
			&.end>a{.img(@w,5,@h);}
			&.zoom.in{.img(@w,6,@h);}
			&.zoom.out{.img(@w,7,@h);}
			>a,
			&.info,
			&.zoom{.dim(@w,@h); cursor:pointer;}
			&.info{float:left;}
			&.zoom{float:right;}
		}
		.pad(@p 0);
		&.txt{	.icons(100px,35px);}
		&.icon>ul>li{.icons(50px,43px,"_icon");}
		>.l,>.r{.w(auto, 50%);
			.float;		
		}
		>.r{.float(right);}
		>ul{
			text-align:center;
			.wrap(50%);
			>li{
				.pos;		
				.float;	
				&.bookmark{
					.float(none);
					.display(inline-block);
				}
				>a{
					.display;
					.maxW;
					.bg_repeat;
					&,&:hover{color:transparent;text-shadow:none;}
				}
				&.info{
					.pos;
					p{margin:0;}
					&.show>div{display:block;}						
					>div{
						@borderW:5px;
						@w:500px;
						display:none;
						.abs(@fxLayer, initial, @w, auto, 50%); 
						margin-left:-1 * @w / 2;
						bottom:100%;
						margin-bottom:@p;
						>article{
							display:inline-block;
							text-align:left;
							width:auto;
							margin:0 auto;
							padding:@p;
							.bg(@fg);
							border:@borderW solid @fgColor;
							&:after{
								.after;
								.abs(0, 100%, 0, 0, 50%, 0 0 0 -@p);
								border:@p solid transparent;
								border-top-color:@fgColor;
							}
						}
					}
				}
			}
		}
	}
}
