@sky	:rgba(120,204,255,1);
@sea0 	:rgba(0,127,216,1);
@sea1	:rgba(0,16,34,1);
@pink0	:rgba(255,185,204,1);
@pink1	:rgba(255,45,125,1);

@head	:#78CCFF;
@bgHead	:rgba(0,0,0,.681);
@bg0	:#87c8de;
@bg1	:#001022;
@fg	:#FFFFFF;
@fgColor:#999999;

@graphics_dir:"graphics/images/";
@wrapW	:1125px;
@padT	:0;
@padL	:1em;
@padB	:@padT;
@padR	:@padL;


@fxLayer:2;
@overlayLayer:9999;

@easing	:cubic-bezier(0.51, 0.01, 0.37, 0.98);
/*
	simple Functions with mixins
*/
@import "lib.less";

/*
 
Less Style
 
*/
#wpadminbar{
	margin:0;
	padding:0;
	>div{max-width:initial;}
}
body{
	position:relative;
	background-color:@bg1;
	&:before, &:after{.bg_repeat;}
	&:before{
		.after(-1000,100%,100%,absolute,0);
		.bg_LinGrad;		
	}
	&:after{
		.after(-500,100%,100%,absolute,0);
		.opacity(0.5);
	}
	>*{
		>div{
			max-width:@wrapW;
			margin:0 auto;
		}
	}
	>div{
		//margin-top:1em;
	}
}
.l{	.float;}
.r{	.float(right);}

hr{
	border:0;
}
a{
	text-decoration:none;
	color:@fgColor;
	&:hover{
		color: lighten(@fgColor, 10%);
	//	text-shadow:-1px -1px 1px fade(lighten(@fgColor, 50%), 50%);
	}
}
//Header
.body{
	>div {
		z-index:1;
		position:relative;
	}
}
.head{
	color:@head;
	.pad(.5em 1em);
	.bg_LinGrad(bottom , fade(@bgHead,0%) 0em, @bgHead 1px);
	.nolist;
//	border-bottom:1px solid @bgHead;
	a{
		font-size:.9em;
		font-weight:800;
		color:transparent;
		.insetTextShadow(fade(@head,50%),@bgHead);
//		.insetTextShadow(fade(@bgHead,50%),@head);
	}
	a:hover
	{.insetTextShadow(fade(@head, 80%),@bgHead);}
//	{.insetTextShadow(fade(@bgHead, 80%),@head);}

	li.current-menu-item>a
	{.insetTextShadow(fade(@head, 100%),@bgHead,0,0,0,0,1px,0);}
//	{.insetTextShadow(fade(@bgHead, 100%),@head,0,0,0,0,1px,0);}

	li{
		.float;
		.pad(0 @padL 0 0);
	}
}
.branding{
	>div{
		padding:1em;
		a{	display:block;
			line-height:0;
			&>*{line-height:initial;}
		}
		img{
			width:100%;
			height:auto;
		}
	}
	&,img{
		position:relative;
	}
	img{z-index:-2;}
	&:after{
		.after(-1,100%,100%,absolute,0);
		.bg_repeat;
		.pad(0 0 1em 0);
	}
}
.body{
	position:relative;
	z-index:0;
	>div{
		border:1px solid #000;
		.shadow(0,20px,40px,rgba(0,0,0,.5));
	}
}
.cols{
	>*{float:left;}
	&._4>*{width:25%;}
	&._3>*{width:33%;}
	&._2>*{width:50%;}
	&._1>*{width:100%;}
	&._auto>*{width:auto;}
	&._0{display:none;}
}
.foot{
	@border: 1px dashed rgba(255,255,255,.1);
	margin-top:30px;
	border-top:@border;
	font-size:.9em;
	color:rgba(255,255,255,.5);
	.nolist;


	.cols{	
		>li{
			>div{
				padding:10px;
				border-right:@border;
			}
		
			&:last-child{
				>div{
					border-right:0;
				}
			}
		}
		&._0{display:none;}
	}
	.copy{
		text-align:center;
		font-size:.75em;
		padding:10px 0 6px;
		li,div{
			display:inline;	
		}
	}

}
.body{
	>div{
		border:5px solid #ddd;
	}
	section{
		margin:1em;
	}
	.content{
		font-weight:400;
	}	
	.widget{
		max-width:25%;
		&.l{float:left; margin-right:1em;}
		&.r{float:right; margin-left:1em;}
	}
	.webcomic{
		@borderWidth:1px;
		margin:0;
		article{
			.pos;
			>.cur{
				img {.float;.dim;}
				.pos;
				.z(-1);
			}
			>.prev, >.next{
				margin:-@borderWidth;
				border:1px solid #000;	
				.abs(@fxLayer, 0, 100%, 100%);		
				.overflow;
				.opacity;
				.origin;
			//	img{.h(100%);}
				&.hidden{.novis;}
			}
			>.go{}		
			>.prev.go, >.next{
				.w; 
			}
			>.next.go, >.prev{
				.w(0);
			}
		}


		.overlay{
			@w:100px;
			@h:100px;
			.arrow(@dir){
				.bg_img("arrow-@{dir}.png");
				.bg_repeat;
			}
			
			.abs(@overlayLayer, 0, 100%, 100%);
			.l,.r{	.abs(1,0,25%,100%);
				&:hover>div{.display; cursor:pointer;}			
				>div{
					.abs(1,0,@w,100%);
					.display(none);					
					>div{	.pos(fixed);	
						.dim(@w,@h);
					}
				}

			}
			.l{	.left(-@w/2);
				>div{	>div{.arrow(l);}
				}
			}
			.r{	.right(-@w/2);
				>div{	.right;
					>div{.arrow(r);}
				}
			}
			/*
			&:hover	>div{	.display;}
				>div{	.display(none);
					>div{	.pos(fixed);
						.dim(@w,@h);
					}
				}
			*/
		}
		.inline{
			@ext:~".png";
			.img(@pos){
				a{	.bg_img(~"@{pos}@{ext}");
					&:hover{.bg_img(~"@{pos}-sh@{ext}");}
				}
			}
			.icons(@w,@h,@suffix:~""){
				.first{.img("first@{suffix}");}
				.prev{.img("prev@{suffix}");}
				.next{.img("next@{suffix}");}
				.last{.img("last@{suffix}");}
				.link{.img("link@{suffix}");}		
				a{	.dim(@w,@h);}
			}
			.tooltipImg(@k){>p{.bg_img("cb_@{k}@{ext}");}}
			.tooltip(@k:a){
				&._0{.tooltipImg("@{k}0");}
				&._1{.tooltipImg("@{k}1");}
				&._2{.tooltipImg("@{k}2");}
			}
			.pad(1em 0);
			&.txt{	.icons(100px,35px);}
			&.icon{	.icons(50px,50px,"_icon");}
			a{.display;}
			p{}
			>.l,>.r{.w(auto, 50%);
				.float;		
				line-height:0;
			}
			>.r{.float(right);}
			>ul{
				text-align:center;
				.wrap(50%);
				>li{
					.pos;		
					.display(inline-block);
					.opacity(.25);
					&._a{	.tooltip(a);}
					&._b{	.tooltip(b);}
					&._c{	.tooltip(c);}

					&._0{>p{margin-left:-2px;}}
					&._1{>p{margin-left:-50px;}}
					&._2{>p{margin-left:-98px;}}

					>a{
						.maxW;
						.bg_repeat;
					}
					&:hover{
						.opacity;
						>p{.display;}
					}
					>p{
						@w:100px;
						@h:100px;
						@txt:30px;
						.abs(@fxLayer, -@h, @w, @h, 50%, 0);
						.display(none);
						.bg_repeat;
						line-height:1;
						>span{
							.dim(@w, @h - @txt);
							.middle;
						}
					}
				}
			}
		}
	}
	
}

